{% extends 'YokoCino/inicio.html' %}
{% load static %}
{% block title %}
    YokoCino | Login
{% endblock title %}
{% block main_title %}
    <h1>Login</h1>
{% endblock main_title %}
{% block busqueda %}
{% endblock busqueda %}
{% block main_content %}
    <div> 
        <form action="" method="POST"> {% csrf_token %}
            <h3>LOGIN</h3>
            <div>
                <input name="user" type="text" placeholder="User" class="inputLogin">
            </div>
            <div>
                <input name="password" type="password" placeholder="Password" class="inputLogin">
            </div>
            <div>
                <button class="btn btn-primary" type="submit">Login</button>
            </div>
        </form>
    </div>
{% endblock main_content %}