.search{
    margin-top: -180px;
}

.boton{
    font-size: 14px;
    padding: 8px 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 0;
    border: 1px solid transparent;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}