{% extends 'YokoCino/inicio.html' %}
{% load static %}

{% block title %}
    YokoCino | {{ detalle_post.titulo }}
{% endblock title %}

{% block back_img %}
    {% if detalle_post.imagen %}
        {{ detalle_post.imagen.url }}
    {% endif %}
{% endblock back_img %}

{% block main_title %}
    <h1>{{detalle_post.titulo}}</h1>
    <h6>{{detalle_post.descripcion}}</h6>
{% endblock main_title %}

{% block busqueda %}
{% endblock busqueda %}

{% block main_content %}
    <h4>{{detalle_post.titulo}}</h4>
    {{detalle_post.contenido | safe}}
    <br><br>Creado por {{detalle_post.autor}}
{% endblock main_content %}