{% extends 'YokoCino/inicio.html' %}
{% load static %}

{% block title %}
    YokoCino | Crear Categoria
{% endblock title %}

{% block back_img %}
{% static 'Yokocino/assets/new-bg.jpg' %}
{% endblock back_img %}

{% block main_title %}
    <h1>Crear Categoria</h1>
{% endblock main_title %}

{% block busqueda %}
{% endblock busqueda %}

{% block main_content %}
                <p>Crear categoria</p>
                <form action="/YokoCino/setCategoria/" method="post"> 
                    {% csrf_token %}
                    <table>
                        {{ miFormulario.as_table }}
                    </table>
                    <input type = "submit" value="Enviar">
                </form>
{% endblock main_content %}